
.vs/Map_Generator/v16/ipch/AutoPCH/3dc53217131c14dc/OLCEXAMPLEPROGRAM.ipch
a.exe
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Map_Generator/v16/Browse.VC.opendb
.vs/Map_Generator/v16/Browse.VC.db-wal
.vs/Map_Generator/v16/Browse.VC.db-shm
.vs/Map_Generator/v16/Browse.VC.db
.vs/Map_Generator/v16/.suo
